<div class="container">
  <div class="splash">
    <%= image_tag("donut_logo.png")  %>
    <h1>Donut UX Coming Soon!</h1>
    <p>
      <%= mail_to "jaqtann@gmail.com", cc: "aliciajolivares@gmail.com" do %>
        <button class="btn btn-info">Contact Us</button>
      <% end %>
      <br/>
      <span class="glyphicon glyphicon-envelope"></span> <%= mail_to "jaqtann@gmail.com" %> | <span class="glyphicon glyphicon-envelope"></span> <%= mail_to "aliciajolivares@gmail.com" %>
    </p>
  </div>
</div>
