<div class="container">
  <div class="splash">
    <h1>Donut UX: A Full Circle UX Agency</h1>
    <%= image_tag("donut_logo_1024.png", :class => "donut")  %>
    <h2>Coming Soon!</h2>
    <p>
      <%= button_to "Contact Us", new_message_path, :class => "btn btn-lg btn-info", :method => :get  %>
    </p>
  </div>
</div>
