<div class="container">
  <div class="splash">
    <h1>Donut UX: A Full Circle UX Agency</h1>
    <%= image_tag("donut_logo_1024.png", :class => "donut")  %>
    <h2>Coming Soon!</h2>
    <p>
      <%= mail_to "jaqtann@gmail.com", cc: "aliciajolivares@gmail.com" do %>
        <button class="btn btn-lg btn-info">Contact Us</button>
      <% end %>
    </p>
  </div>
</div>
