<div class="container donut-container" ng-app="donutUx">
  <div ng-controller="MainController">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#home">Donut UX</a></li>
            <li><a href="#sectionOne">SectionOne</a></li>
            <li><a href="#sectionTwo">SectionTwo</a></li>
            <li><a href="#sectionThree">SectionThree</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="fullpage">
      <div class="section">
        <h1>{{title}}</h1>
        <%= image_tag("donut_logo_1024.png", :class => "donut")  %>
      </div>

      <div class="section">
        <p>Section 1</p>
      </div>

      <div class="section">
        <p>Section 2</p>
      </div>

      <div class="section">
        <p>Section 3</p>
      </div>
  </div>
</div>
