// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#fullpage .section {
  padding-top:50px;
}

.container.donut-container {
  width: 100% !important;
  text-align: center;
  padding: 0;
}

.splash.donut-span {
  margin-top: 0 !important;
  text-align: center;
}

h1 {
  text-transform: capitalize;
}

.donut {
  width: 50% !important;
  height: 75% !important;
}

.logo-link-container {
  position:absolute;
}

.logo-link {
  position:absolute;
  background-color: white;
  padding: 0 5px 0 5px;
}

.logo-link.section-one {
  top:9%; left:32%;
}

.logo-link.section-two{
  top:12%; left:60%;
}

.logo-link.contact {
  top:20%; left: 48%;
}
