<!DOCTYPE html>
<html>
<head>
  <title>DonutUx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="ESrOXkc4I3nQ35wSgX4Q0x7SfeD1Yg6qJp1TburLghY" />
</head>
<body>

<%= yield %>

</body>
</html>
